
* text=auto

*.js     text
*.ts     text
*.json   text
*.md     text
*.ignore text
*.env    text

# Denote binary files
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
